  body {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.705);
      height: 100vh;
  }

  .container {
      background-color: white;
      width: 320px;
      border-radius: 15px
  }

  .resultContainer {
      background-color: lightgrey;
      height: 200px;
      width: 300px;
      border-radius: 15px;
      margin: 10px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }

  .displayInputContainer {
      color: rgb(105, 105, 105);
      font-size: 26px;
      align-self: flex-end;
      margin-right: 10px;
  }

  .displayResultContainer {
      color: black;
      font-size: 72px;
      align-self: flex-end;
      margin-right: 10px;
  }

  .buttonContainer {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      justify-content: space-around;
  }

  .buttonContainer>span {
      margin: 5px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .textWarning {
      color: orange;
  }

  .backgroundGrey {
      background-color: lightgray;
      display: inline-block;
  }

  .backgroundWarning {
      background-color: orange;
  }

  .bigButton {
      display: flex;
      height: 60px;
      width: 136px;
      border-radius: 30px;
      font-size: 26px;
      justify-content: center;
      align-items: center;
  }

  .smallButton {
      height: 60px;
      width: 60px;
      font-size: 26px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }